.list {
  list-style-type: none;
  padding: 0;
  border-radius: var(--card-radius);
  overflow: hidden;
  box-shadow: var(--card-shadow);
  background: #ffffff;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.emptyState {
  margin: 60px;
  text-align: center;
}

.emptyStateMessage {
  margin-bottom: 20px;
  font-weight: bold;
}
